@model VehicleViewModel
<br>
<br>
<h2 class="title-section">Delete Vehicle</h2>
<hr />



<form asp-action="DeletePost" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    @* <input type="hidden" asp-for="ModelId" /> *@
    <input type="hidden" asp-for="Vin" />

    <h3 class="header-section">Vehicle Information</h3>

    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="UserName">Owner Name</label>
        <input type="text" class="form-control" asp-for="UserName" required disabled />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div style="width:fit-content;height:10px;"></div>

    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="Averagefuelin">Average Fuel In</label>
        <input type="number" step="0.0001" class="form-control" asp-for="Averagefuelin" required disabled />
        <span asp-validation-for="Averagefuelin" class="text-danger"></span>
    </div>

    <div style="width:fit-content;height:10px;"></div>

    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="Averagefuelout">Average Fuel Out</label>
        <input type="number" step="0.0001" class="form-control" asp-for="Averagefuelout" required disabled />
        <span asp-validation-for="Averagefuelout" class="text-danger"></span>
    </div>

    <div style="width:fit-content;height:10px;"></div>

    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="COemmission">CO Emission</label>
        <input type="number" class="form-control" asp-for="COemmission" required disabled />
        <span asp-validation-for="COemmission" class="text-danger"></span>
    </div>

    <div style="width:fit-content;height:10px;"></div>

    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="FuelCapacity">Fuel Capacity</label>
        <input type="number" class="form-control" asp-for="FuelCapacity" required disabled />
        <span asp-validation-for="FuelCapacity" class="text-danger"></span>
    </div>

    <div style="width:fit-content;height:10px;"></div>

    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="MaxAllowedWeight">Max Allowed Weight</label>
        <input type="number" class="form-control" asp-for="MaxAllowedWeight" required disabled />
        <span asp-validation-for="MaxAllowedWeight" class="text-danger"></span>
    </div>

    <div style="width:fit-content;height:10px;"></div>

    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="MinWeight">Min Weight</label>
        <input type="number" class="form-control" asp-for="MinWeight" required disabled />
        <span asp-validation-for="MinWeight" class="text-danger"></span>
    </div>

    <div style="width:fit-content;height:10px;"></div>

    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="BaggageVolume">Baggage Volume</label>
        <input type="number" class="form-control" asp-for="BaggageVolume" required disabled />
        <span asp-validation-for="BaggageVolume" class="text-danger"></span>
    </div>

    <div style="width:fit-content;height:10px;"></div>


    <div class="form-group">
        <label style="color:black;margin-bottom:5px;" asp-for="DrivenKM">Driven KM</label>
        <input type="number" class="form-control" asp-for="DrivenKM" required disabled />
        <span asp-validation-for="DrivenKM" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-center mt-3 " style="border-right:inherit !important;">
        @if (User.IsInRole("Admin"))
        {
            <div class="w-10 btn-group d-flex justify-content-between align-items-center me-2" role="group">
                <a class="btn btn-primary " asp-controller="Vehicle" asp-action="Vehicles" style="margin-left:10px;background-color:transparent;">
                    <i class="bi bi-sign-turn-right-fill" style="margin-right:5px;"></i>Back To List
                </a>
            </div>
        }
        else
        {
            <div class="w-10 btn-group d-flex justify-content-between align-items-center me-2" role="group">
                <a class="btn btn-primary " asp-controller="Vehicle" asp-action="UserVehicles" style="margin-left:10px;background-color:transparent;">
                    <i class="bi bi-sign-turn-right-fill" style="margin-right:5px;"></i>Back To List
                </a>
            </div>

        }
        <div class="w-10 btn-group d-flex justify-content-between align-items-center me-2" role="group">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                <i class="bi bi-sign-turn-right-fill" style="margin-right:5px;"></i>Remove
            </button>
        </div>

    </div>
    <partial name="_DeleteConfirmation" />
    
</form>


<style>
    /* Apply styles to labels on hover */
    .form-group input:hover {
        background-color: dimgrey !important; /* Change this to your desired hover color */
    }

    .form-group select:hover {
        background-color: dimgrey !important; /* Change this to your desired hover color */
    }

    .form-group select option:hover {
        background-color: black !important;
    }
</style>