<!-- _AddFileModal.cshtml -->
<div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="addFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFileModalLabel">Add New File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddFilePost" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="Id" value="@ViewBag.OrderVehicleId" />
                    <div class="form-group">
                        <label for="Image">Choose Image</label>
                        <input type="file" class="form-control" name="Image" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>ds